.cal-icon-dayno {
    font-weight: bold;
    font-size: 24px;
    min-width: 2em;
    text-align: center;
}

.cal-icon-day-abbrev {
    font-size: 16px;
    min-width: 2em;
    text-align: center;
    margin-left: 3px;
}

.cal-icon-container {
    box-sizing: content-box;
    border: 1px solid grey;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
    aspect-ratio: 1 / 1;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 4px;
    padding-right: 4px;
}